@use './variables' as *;
@use './mixins' as *;

.resumeBreak {
  background-color: $mainColor;
  border-radius: 50px;
  height: 100px;
  margin: 40px 0;
  position: relative;
  transition: $standardTransition;
  width: 125%;
  z-index: 20;
}

.resumeBreakList {
  @include setFlex(row, flex-start, center);

  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
}

.resumeBreakListItem {
  @include setFont(1.8rem, bold, $darkGrey, 1.1px);

  margin: 0 10px;
  padding: 10px 40px;

  .resumeBreakLink {
    color: $darkGrey;
    position: relative;
    text-transform: uppercase;
    transition: $standardTransition;

    &::before {
      background-color: $darkGrey;
      bottom: -5px;
      content: "";
      display: block;
      height: 2px;
      right: 0;
      position: absolute;
      transition: $standardTransition;
      width: 100%;
    }

    &:hover::before {
      background-color: $white;
      width: 0;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:active::before,
    &:focus::before {
      background-color: $white;
    }
  }
}

.symbolsContainer {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 40px 0 0;
}

.symbolContainer:hover > .iconHeading {
  transform: translateX(-20px);
}

.iconContainer {
  background-color: $mainColorLight;
  border-radius: 10px;
  height: $aboutIconSize;
  margin-bottom: 20px;
  padding: 5px;
  width: $aboutIconSize;

  & img {
    width: 100%;
  }
}

.iconHeading {
  @include setFont(3rem, bold, $darkGrey, 1.5px);

  margin-bottom: 20px;
  position: relative;
  transition: $standardTransition;

  &::before {
    background-color: transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    transition: $standardTransition;
    width: 100%;
  }
}

.iconText {
  @include setFont(1.8rem, normal, $darkGrey, 1.5px);

  line-height: 1.6;
}

.aboutFloatingBox {
  background-color: $mainColor;
  float: right;
  margin-bottom: 20px;
  position: relative;
  right: -50px;
  width: 350px;
}

.floatingBoxList {
  padding: 0 50px;
}

.floatingBoxListItem {
  margin: 50px 0;
}

.floatingContactHeading {
  @include setFont(2rem, bold, $darkGrey, 1px);

  margin: 10px 0;
}

.floatingContactInfo {
  @include setFont(1.6rem, normal, $darkGrey, 1px);
}

@media (max-width: 1400px) {
  .symbolsContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .resumeBreak {
    left: -70px;
  }
}

@media (max-width: 650px) {
  .resumeBreak {
    height: auto;
    left: 0;
    width: 100%;
  }

  .resumeBreakList {
    align-items: stretch;
    flex-direction: row;
    padding: 40px;
    row-gap: 10px;
    text-align: left;
  }

  .resumeBreakListItem {
    font-size: 2rem;
    margin: 0;
    padding: 10px 20px;
  }

  .symbolContainer:hover > .iconHeading {
    letter-spacing: 5px;
    transform: translateX(10px);
  }
}

@media (max-width: 550px) {
  .aboutFloatingBox {
    float: none;
    margin: 0 auto 40px;
    padding: 20px 0;
    position: static;
    width: 80%;
  }

  .floatingBoxList {
    margin: 0 auto;
    padding: 0 30px;
    width: min-content;
  }
}

@media (max-width: 400px) {
  .symbolsContainer {
    grid-template-columns: 1fr;
  }

  .symbolContainer:nth-child(2n) {
    @include setFlex(column, space-between, flex-end);

    text-align: right;
  }

  .aboutFloatingBox {
    width: 90%;
  }

  .floatingBoxList {
    padding: 0 10px;
  }
}
