.blogPostsContainer {
  @include setFlex(column, center, center);
}

.blogIntroText {
  @include setFont(2rem, normal, $darkGrey, 1.5px);

  margin-bottom: 40px;
}

.blogPostContainer {
  @include setFlex(row, space-between, center);

  background-color: $white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px $darkGrey;
  margin: 10px 0;
  padding: 60px 30px;
  transition: .3s ease;
  width: 100%;
}

.blogPostContainer:active,
.blogPostContainer:focus,
.blogPostContainer:hover {
  box-shadow: 2px 2px 4px $darkGrey;
  outline: none;
}

.blogPostContainer:active > .blogPostTitle,
.blogPostContainer:focus > .blogPostTitle {
  font-weight: bold;
}

.blogPostTitle {
  @include setFlex(column, center, center);
  @include setFont(2rem, normal, $darkGrey, default);

  border-radius: 0 0 10px 10px;
}

.blogPostDate {
  @include setFont(2rem, normal, $mainColorDark, default);
}

.moreToCome {
  @include setFont(2rem, normal, $mainColor, default);

  background-color: $mainColor;
  text-align: center;
}

@media (max-width: 420px) {
  .blogPostContainer {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 10px auto;
    padding: 30px 10px;
  }

  .blogPostDate {
    margin-bottom: 20px;
  }

  .blogPostTitle {
    text-align: center;
  }
}