body {
  background-color: var(--main-background-color);
  font-family: 'Merriweather Sans', sans-serif;
  padding: $bodyVerticalPadding 2rem;

  @media (max-width: $lgBreakpoint) {
    padding: $bodyVerticalPadding 1rem;
  }
}

.main-container {
  width: 100%;
  max-width: 1100px;
  height: $screenSizeMinusNavbar;
  min-height: $screenSizeMinusNavbar;
  margin: 0 auto;
}