.credits {
  margin-bottom: 20px;
}

.creditsTitle {
  @include setFont(1.6rem, bold, $darkGrey, 1.5px);

  cursor: pointer;
  margin-bottom: 40px;
}

.credit {
  @include setFont(1.2rem, normal, $darkGrey, 1.5px);

  margin-bottom: 20px;
}

.creditLink {
  color: $darkGrey;
  text-decoration: underline;
}

.creditList {
  font-size: 1.2rem; 
  transition: $standardTransition;
}

.hideList {
  font-size: 0rem;
  height: 0px;
  opacity: 0;
  visibility: hidden;
}