.credits {
  margin-bottom: 20px;
}

.creditsTitle {
  @include setFont(3rem, bold, $darkGrey, 1.5px);
  margin-bottom: 40px;
}

.credit {
  @include setFont(1.6rem, normal, $darkGrey, 1.5px);

  margin-bottom: 20px;
}

.creditLink {
  color: $darkGrey;
  text-decoration: underline;
}