.mainHeader {
  background-color: $mainColor;
  width: 100%;
}

.mainHeaderContainer {
  @include setFlex(column, center, flex-start);
  
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.pageTitle {
  @include setFont(12rem, 800, $darkGrey, 1.2px);

  font-family: 'Archivo Black', sans-serif;
  z-index: 20;
}

.pageTitleBlock {
  display: block;
}

.headerImageContainer {
  border-radius: 50%;
  height: $headerImageSize;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 5%;
  transition: $standardTransition;
  width: $headerImageSize;
  z-index: 20;

  &:hover {
    transform: scale(1.1);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(-50px);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.scrollArrowContainer {
  bottom: 100px;
  left: 8px;
  position: absolute;
  transition: $standardTransition;
  z-index: 20;

  .scrollArrow {
    animation: slideDown 2s linear infinite;
    font-size: 5rem;
  }
}

@media (max-width: 1200px) {
  .pageTitle {
    font-size: 10rem;
  }
}

@media (max-width: 900px) {
  .headerImageContainer {
    left: calc(50% - (#{$headerImageSize} / 2));
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 9rem;
  }
}

@media (max-width: 500px) {
  .mainHeaderContainer {
    width: 100%;
  }

  .headerImageContainer {
    top: 10%;
  }

  .pageTitle {
    font-size: 6rem;
    text-align: center;
    width: 100%;
  }
  .scrollArrowContainer {
    left: calc(50% - 25px);
  }
}