@use './variables' as *;
@use './mixins' as *;

.mainHeader {
  background-color: $mainColor;
  width: 100%;
}

.mainHeaderContainer {
  @include setFlex(column, center, flex-start);
  
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.pageTitle {
  @include setFont(10rem, 800, $darkGrey, 1.2px);

  font-family: 'Archivo Black', sans-serif;
  z-index: 20;
}

.pageTitleBlock {
  display: block;
}

.headerImageContainer {
  border-radius: 50%;
  // box-shadow: 0px 5px 5px $darkGrey;
  height: $headerImageSize;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 5%;
  transition: $standardTransition;
  width: $headerImageSize;
  z-index: 20;

  &:hover {
    transform: scale(1.1) rotate(10deg);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(-50px);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
.waveEmojiAnimation:hover {
  animation: shake linear 2s infinite;
}

@media (max-width: 1200px) {
  .pageTitle {
    font-size: 10rem;
  }
}

@media (max-width: 900px) {
  .headerImageContainer {
    left: calc(50% - (#{$headerImageSize} / 2));
    z-index: 40;
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 9rem;
  }

  .headerImageContainer {
    height: $headerImageSize2;
    left: calc(50% - (#{$headerImageSize2} / 2));
    width: $headerImageSize2;
  }
}

@media (max-width: 500px) {
  .mainHeaderContainer {
    width: 100%;
  }

  .pageTitle {
    font-size: 6rem;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .pageTitle {
    font-size: 4rem;
  }
}