.siteContainer {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;

  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  nav {
    width: $sidebarWidth;
    max-width: $sidebarWidth;
    height: 100vh;
    min-height: 100vh;
    flex-shrink: 0;
  }

  main {
    width: calc(100vw - $sidebarWidth);
    min-height: 100vh;
    flex-grow: 1 0 0;
  }
}

@media (max-width: $mdBreakpoint) {
  .siteContainer {
    nav {
      display: none;
    }

    main {
      width: 100vw;
      min-height: 100vh;
    }
  }
}