@mixin resetMarginAndPadding() {
  margin: 0;
  padding: 0;
}

@mixin setFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin setFont($size, $weight, $color, $spacing) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}