.fixedNavMenu {
  @include setFlex(column, space-between, center);

  background-color: $darkGrey;
  border-left: 2px solid $white;
  height: 100vh;
  min-width: 250px;
  padding: 70px 50px;
  position: fixed;
  right: 0;
  top: 0;
  transition: $standardTransition;
  width: $navMenuWidth;
}

.menuPageNumber,
.navMenu,
.navSocialList {
  width: 70%;
}

.menuPageNumber {
  @include setFont(2.4rem, bold, $white, 2px);

  padding: 5px 10px;
}

.currentPageNumber {
  color: $mainColor;
}

.navTitle {
  @include setFont(1.8rem, normal, $white, 3px);

  text-transform: uppercase;

  .navTitleLink {
    border: 1px solid transparent;
    color: $white;
    padding: 5px 10px;
    position: relative;
    transition: $doubleTransition;

    &:focus {
      border: 1px solid $mainColor;
      outline: none;
    } 
  }

  .navTitleLink:hover {
    color: $mainColor;
  }

  .navTitleLink::before {
    background-color: $white;
    bottom: -5px;
    content: '';
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    transition: $standardTransition;
    width: 100%;
  }

  .navTitleLink:hover::before {
    background-color: $mainColor;
    width: 0;
  }
}

.navMenu {
  @include setFlex(column, flex-start, flex-start);
  flex-basis: 60%;
}

.navList {
  margin: 50px 0;
  width: 100%;

  .navListItem {
    @include setFont(1.8rem, normal, $white, 3px);

    margin: 15px 0;
    width: 100%;
  }

  .navListItemLink {
    border: 1px solid transparent;
    color: $white;
    padding: 5px 10px;
    transition: .3s ease;
    width: 100%;

    &:hover {
      color: $mainColor;
    }

    &:focus {
      border: 1px solid $mainColor;
      outline: none;
    }

    &.activeNavLink {
      background-color: $darkGrey;
      color: $mainColor;
      width: 100%;
    }
  }
}

.navSocialList {
  @include setFlex(row, flex-start, center);

  padding: 5px 10px;

  .navSocialListItem {
    @include setFlex(column, center, center);

    border: 1px solid $white;
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    width: 40px;
  }

  .navSocialLink {
    @include setFont(2rem, normal, $white, 1px);

    transition: .3s ease;

    &:active,
    &:focus,
    &:hover {
      color: $mainColor;
      outline: none;
    }
  }
}

.hamburgerContainer {
  z-index: 60;
}

.hamburgerToggler {
  display: none;
  height: 75px;
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  visibility: hidden;
  width: 75px;
}

.hamburger {
  display: none;
  opacity: 0;
  transition: $standardTransition;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .fixedNavMenu {
    padding: 50px 20px;
    width: $navMenuWidth2;
  }

  .menuPageNumber,
  .navMenu,
  .navSocialList {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .fixedNavMenu {
    border-left: 4px solid $white;
    justify-content: flex-start;
    padding: 40px 0;
    right: -100%;
    width: $navMenuWidth;
    z-index: 50;
  }

  .showMenu {
    right: 0;
  }

  .hamburgerToggler {
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    visibility: visible;
    z-index: 80;
  }

  .hamburgerToggler:hover + .hamburger {
    background-color: $mainColorLight;
  }

  .hamburger {
    @include setFlex(column, center, center);

    background-color: $mainColor;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 0px 1px 3px $darkGrey;
    display: default;
    height: 75px;
    opacity: 1;
    position: fixed;
    right: 20px;
    visibility: visible;
    width: 75px;
    z-index: 60;
  }

  .middleLineContainer {
    @include setFlex(column, center, flex-start);

    height: 100%;
    width: 40px;
  }

  .middleLine {
    background-color: $darkGrey;
    height: 5px;
    position: relative;
    transition: $standardTransition;
    width: 27.5px;

    &::before,
    &::after {
      background-color: $darkGrey;
      bottom: auto;
      content: '';
      height: 5px;
      left: auto;
      position: absolute;
      right: auto;
      top: auto;
      transition: $standardTransition;
      width: 40px;
    }

    &::before {
      top: -15px;
    }

    &::after {
      bottom: -15px;
    }
  }

  .navList {
    margin: 30px 0;
  }

  .menuPageNumber {
    flex-basis: 10%;
  }

  .navMenu {
    flex-basis: 55%;
  }

  .navSocialList {
    flex-basis: 7.5%;
  }

  .whiteHamburger {
    background-color: $white;
  }

  .whiteHamburger .middleLine {
    width: 0;
  }

  .whiteHamburger .middleLine::before {
    -webkit-transform: translate(-5px, 15px) rotate(45deg);
    transform: translate(-5px, 15px) rotate(45deg);
    width: 50px;
  }

  .whiteHamburger .middleLine::after {
    -webkit-transform: translate(-5px, -15px) rotate(-45deg);
    transform: translate(-5px, -15px) rotate(-45deg);
    width: 50px;
  }
}