.projects .sectionWrapper {
  overflow: hidden;
  position: relative;
  left: 10%;
  width: 100%;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(2, fit-content(calc($projectsCellSize / 2)));
  grid-template-rows: 100px repeat(4, $projectsCellSize);
  max-width: 100%;
  position: relative;
  width: calc(2 * $projectsCellSize);
  z-index: 10;
}

.projectsGuide {
  @include setFlex(column, center, center);
  
  background-color: $mainColor;
  background-position: top center;
  background-size: cover;
  border-right: 4px solid $white;
  border-top: 4px solid $white;
  border-radius: 20px 20px 0 0;
  grid-area: 1 / 1 / span 1 / span 2;

  .projectsGuideText::after {
    @include setFont(3rem, bold, $darkGrey, 1.5px);

    content: 'Hover on project for details';
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
  }
}

.projectPreview {
  border: 2px solid $white;
  overflow: hidden;
  position: relative;

  &:active,
  &:focus {
    outline: none;
  }
}

.positiveVibesBoard {
  background-image: url(../assets/positive-vibes-only.webp), url(../assets/positive-vibes-only.png);
  background-position: top center;
  background-size: cover;
  border-right: 4px solid $white;
  border-top: 4px solid $white;
  grid-area: 2 / 1 / span 1 / span 2;
}

.pokemonBlackjack {
  background-image: url(../assets/pokemon-blackjack.webp), url(../assets/pokemon-blackjack.png);
  background-position: center center;
  background-size: cover;
  grid-area: 3 / 1 / span 2 / span 1;
}

.cratedigger {
  background-image: url(../assets/cratedigger.webp), url(../assets/cratedigger.png);
  background-position: center center;
  background-size: cover;
  border-right: 4px solid $white;
  grid-area: 3 / 2 / span 1 / span 1;
}

.captured {
  background-image: url(../assets/captured.webp), url(../assets/captured.png);
  background-position: center center;
  background-size: cover;
  border-right: 4px solid $white;
  grid-area: 4 / 2 / span 1 / span 1;
}

.scattergories {
  background-image: url(../assets/scattergories.webp), url(../assets/scattergories.png);
  background-position: top center;
  background-size: cover;
  border-bottom: 4px solid $white;
  border-right: 4px solid $white;
  border-radius: 0 0 20px 20px;
  grid-area: 5 / 1 / span 1 / span 2;
}

.noBgImage {
  background-image: none;
}

.projectPreview:hover > .projectDetails,
.projectPreview:focus > .projectDetails,
.projectFocused > .projectDetails {
  opacity: .9;
  left: 0;
}

.projectDetails {
  @include setFlex(column, center, center);

  background-color: $darkGrey;
  color: $white;
  height: calc(100% - #{$projectLinksContainerHeight});
  left: -100%;
  opacity: 0;
  padding: 20px 30px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: $standardTransition;
  width: 100%;
  z-index: 10;

  .projectTitle {
    @include setFont(3rem, bold, $white, 1.5px);
  }

  .projectDescription {
    @include setFont(1.6rem, normal, $white, 1.2px);

    line-height: 1.4;
    margin-top: 20px;
  }

  .projectStack {
    @include setFont(1.6rem, bold, $white, 1.5px);

    line-height: 1.4;
    margin-top: 20px;
  }
}

.projectLinksContainer {
  @include setFlex(row, center, center);

  background-color: $darkGrey;
  border-top: 1px solid $white;
  bottom: 0;
  height: $projectLinksContainerHeight;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 20;

  .projectLink {
    @include setFont(1.6rem, bold, $mainColor, 1.5px);

    border: 2px solid transparent;
    margin: 20px;
    padding: 5px;
    text-decoration: underline;

    &:active,
    &:focus {
      border-color: $mainColor;
      color: $white;
      outline: none;
    }
  }
}

@media (max-width: 1250px) {
  .projectDetails {
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .projectsContainer {
    grid-auto-rows: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px;
    width: 120%;
    z-index: 10;
  }

  .projectsContainer * {
    grid-column: 1 / span 1;
  }

  .projectsGuide,
  .projectPreview {
    border: 2px solid $white;
    width: 100%;
  }

  .projectsGuide {
    grid-row: 1 / span 1;
  }

  .positiveVibesBoard {
    grid-row: 2 / span 1;
  }

  .pokemonBlackjack {
    grid-row: 3 / span 1;
    background-position: bottom -230px center;
  }

  .cratedigger {
    grid-row: 4 / span 1;
  }

  .captured {
    background-position: center left;
    grid-row: 5 / span 1;
  }

  .scattergories {
    grid-row: 6 / span 1;
  }
}

@media (max-width: 1024px) {
  .projectsGuide .projectsGuideText::after {
    content: 'Click on project for details';
  }
}

@media (max-width: 950px) {
  .projects .sectionWrapper {
    left: 5%;;
    overflow: hidden;
    width: 90%;
  }

  .projectsGuide .projectsGuideText::after {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .projects .sectionWrapper {
    left: 0;
    width: 100%;
  }

  .projectsContainer {
    width: 100%;
  }

  .projectsGuide .projectsGuideText::after {
    font-size: 1.6rem;
    text-align: center;
  }

  .projectDetails {
    padding: 10px 20px;

    .projectTitle {
      font-size: 2.8rem;
    }

    .projectDescription {
      font-size: 1.4rem;
    }
  }

  .pokemonBlackjack {
    background-position: bottom -300px center;
  }
}

@media (max-width: 360px) {
  .projectsGuide .projectsGuideText::after {
    font-size: 1.2rem;
  }
}