@use './variables' as *;
@use './mixins' as *;


.alternateBackground {
  background-color: $darkGrey;
  content: '';
  height: 100%;
  width: 100%;
}

.backToTopContainer {
  padding-bottom: 80px;

  .backToTop {
    @include setFlex(row, space-between, center);
    @include setFont(2rem, normal, $darkGrey, 1.5px);
    width: 230px; 
  }

  .backToTopIcon {
    @include setFlex(column, center, center);

    color: $darkGrey;
    display: block;
    height: 80px;
    margin-right: 20px;
    text-align: center;
    text-shadow: 0 24px 0 $mainColor;
    width: 80px;
  }
}

.navLink {
  @include setFont(3rem, normal, $darkGrey, 1.5px);

  left: -100%;
  opacity: 0;
  position: absolute;
  text-decoration: underline;
  transition: $standardTransition;

  &:focus {
    background-color: $mainColor;
    border: 2px solid $darkGrey;
    left: 0;
    opacity: 1;
    outline: none;
    padding: 5px 20px;
  }
}

.sectionStatement {
  @include setFont(2rem, bold, $darkGrey, 1.5px);

  line-height: 1.6;
  margin-bottom: 40px;
}

.sectionText {
  @include setFont(2rem, normal, $darkGrey, 1.5px);

  line-height: 1.6;
  margin-bottom: 40px;
}

.sectionTitle {
  @include setFont(4rem, bold, $darkGrey, 1.5px);

  margin-bottom: 40px;
}

.sectionWrapper {
  margin: 0 auto;
  width: 80%;
}

.subSectionHeading {
  @include setFont(3.5rem, bold, $darkGrey, 1.5px);

  margin-bottom: 40px;
  position: relative;
}


.subSectionHeading::after {
  background-color: $mainColor;
  border-radius: 100px;
  content: '';
  height: calc(100% + 20px);
  left: -80px;
  min-width: 280px;
  position: absolute;
  top: -10px;
  width: 80%;
  z-index: -10;
}

.wrapper {
  margin: 0 0 0 auto;
  max-width: 900px;
  width: 85%;
}

@media (max-width: 1200px) {
  .wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .sectionWrapper {
    width: 100%;
  }

  .subSectionHeading::after {
    min-width: 325px;
    width: 90%;
  }

  .wrapper {
    width: 95%;
  }
}