// colors
// theme
$mainColor: #61D58E;
$mainColorDark: #228147;
$mainColorLight: #E0F5E8;
$white: #F9F9F9;
$darkGrey: #262626;

// skill colors
$accessibleColor: #881cf4;
$cssColor: #3d8fc6;
$firebaseColor: #f58220;
$gitColor: #f34f29;
$githubColor: #0366d6;
$htmlColor: #e54d26;
$javaScriptColor: #f0db4f;
$jQueryColor: #0769ad;
$reactColor: #61dafb;
$responsiveColor: #5bc452;
$restColor: #f5dc4e;
$sassColor: #cc6699;

// sizing
$headerImageSize: 200px;
$aboutIconSize: 100px;
$projectsCellSize: 450px;

// transitions
$standardTransition: .4s ease;
$doubleTransition: .8s ease;