// breakpoints
$xsBreakpoint: 20rem;
$smBreakpoint: 30rem;
$mdBreakpoint: 48rem;
$lgBreakpoint: 64rem;
$xlBreakpoint: 75rem;

// theme
$white: #f9f9f9;
$darkGrey: #262626;
$lightGrey: #c6c6c6;

// sizing
$headerImageSize: 15rem;

// transitions
$standardTransition: 0.4s ease;