// colors
// theme
$mainColor: #61d58e;
$mainColorDark: #228147;
$mainColorLight: #e0f5e8;
$white: #f9f9f9;
$darkGrey: #262626;

// skill colors
$accessibleColor: #881cf4;
$cssColor: #3d8fc6;
$dockerColor: #007bff;
$firebaseColor: #f58220;
$gcpColor: #db4437;
$gitColor: #f34f29;
$githubColor: #0366d6;
$htmlColor: #e54d26;
$javaScriptColor: #f0db4f;
$jQueryColor: #0769ad;
$mernColor: #4faa41;
$reactColor: #61dafb;
$responsiveColor: #5bc452;
$restColor: #f5dc4e;
$sassColor: #cc6699;
$testingColor: #99425b;
$typescriptColor: #007acc;
$vueColor: #35eb9a;

// sizing
$headerImageSize: 200px;
$headerImageSize2: 150px;
$aboutIconSize: 100px;
$projectsCellSize: 27vw;
$projectLinksContainerHeight: 75px;
$minProjectCellSize: 450px;
$navMenuWidth: 37.5%;
$navMenuWidth2: 25%;

// transitions
$standardTransition: 0.4s ease;
$doubleTransition: 0.8s ease;
