$navbarHeight: 4rem;

$hamburgerMiddleLineLength: 1.5rem;
$hamburgerOtherLineLength: 2rem;
$hamburgerLineWidth: 5px;
$hamburgerLineSpacing: -1rem;

$hamburgerToggledTranslateX: 0.75rem;
$hamburgerToggledTranslateY: 0.65rem;
$hamburgerToggledArrowTopLength: 1.25rem;
$hamburgerToggledArrowLength: 1.75rem;

$headshotLarge: 20rem;
$headshotMedium: 20rem;
$headshotSmall: 12.5rem;