html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #F9F9F9;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: calc(100% - 37.5%);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

section {
  padding: 50px 0;
}

@media (max-width: 1200px) {
  body {
    width: calc(100% - 25%);
  }
}

@media (max-width: 900px) {
  body {
    width: 100%;
  }
}

.alternateBackground {
  background-color: #262626;
  content: '';
  height: 100%;
  width: 100%;
}

.backToTopContainer {
  padding-bottom: 80px;
}

.backToTopContainer .backToTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  width: 230px;
}

.backToTopContainer .backToTopIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
  display: block;
  height: 80px;
  margin-right: 20px;
  text-align: center;
  text-shadow: 0 24px 0 #61D58E;
  width: 80px;
}

.navLink {
  color: #262626;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  left: -100%;
  opacity: 0;
  position: absolute;
  text-decoration: underline;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.navLink:focus {
  background-color: #61D58E;
  border: 2px solid #262626;
  left: 0;
  opacity: 1;
  outline: none;
  padding: 5px 20px;
}

.sectionStatement {
  color: #262626;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.sectionText {
  color: #262626;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.sectionTitle {
  color: #262626;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

.sectionWrapper {
  margin: 0 auto;
  width: 80%;
}

.subSectionHeading {
  color: #262626;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  position: relative;
}

.wrapper {
  margin: 0 0 0 auto;
  max-width: 900px;
  width: 85%;
}

@media (max-width: 1200px) {
  .wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .wrapper {
    width: 95%;
  }
  .sectionWrapper {
    width: 100%;
  }
}

.mainHeader {
  background-color: #61D58E;
  width: 100%;
}

.mainHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.pageTitle {
  color: #262626;
  font-size: 12rem;
  font-weight: 800;
  letter-spacing: 1.2px;
  font-family: 'Archivo Black', sans-serif;
  z-index: 20;
}

.pageTitleBlock {
  display: block;
}

.headerImageContainer {
  border-radius: 50%;
  height: 200px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 5%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 200px;
  z-index: 20;
}

.headerImageContainer:hover {
  -webkit-transform: scale(1.1) rotate(10deg);
          transform: scale(1.1) rotate(10deg);
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.scrollArrowContainer {
  bottom: 100px;
  left: 8px;
  position: absolute;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 20;
}

.scrollArrowContainer .scrollArrow {
  -webkit-animation: slideDown 2s linear infinite;
          animation: slideDown 2s linear infinite;
  font-size: 5rem;
}

@media (max-width: 1200px) {
  .pageTitle {
    font-size: 10rem;
  }
}

@media (max-width: 900px) {
  .headerImageContainer {
    left: calc(50% - (200px / 2));
    z-index: 40;
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 9rem;
  }
  .headerImageContainer {
    height: 150px;
    left: calc(50% - (150px / 2));
    width: 150px;
  }
}

@media (max-width: 500px) {
  .mainHeaderContainer {
    width: 100%;
  }
  .pageTitle {
    font-size: 6rem;
    text-align: center;
    width: 100%;
  }
  .scrollArrowContainer {
    left: calc(50% - 25px);
  }
}

.fixedNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  border-left: 2px solid #F9F9F9;
  height: 100vh;
  min-width: 250px;
  padding: 70px 50px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 37.5%;
}

.menuPageNumber,
.navMenu,
.navSocialList {
  width: 70%;
}

.menuPageNumber {
  color: #F9F9F9;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px 10px;
}

.currentPageNumber {
  color: #61D58E;
}

.navTitle {
  color: #F9F9F9;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.navTitle .navTitleLink {
  border: 1px solid transparent;
  color: #F9F9F9;
  padding: 5px 10px;
  position: relative;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.navTitle .navTitleLink:focus {
  border: 1px solid #61D58E;
  outline: none;
}

.navTitle .navTitleLink:hover {
  color: #61D58E;
}

.navTitle .navTitleLink::before {
  background-color: #F9F9F9;
  bottom: -5px;
  content: '';
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
}

.navTitle .navTitleLink:hover::before {
  background-color: #61D58E;
  width: 0;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.navList {
  margin: 50px 0;
  width: 100%;
}

.navList .navListItem {
  color: #F9F9F9;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 3px;
  margin: 15px 0;
  width: 100%;
}

.navList .navListItemLink {
  border: 1px solid transparent;
  color: #F9F9F9;
  padding: 5px 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%;
}

.navList .navListItemLink:hover {
  color: #61D58E;
}

.navList .navListItemLink:focus {
  border: 1px solid #61D58E;
  outline: none;
}

.navList .navListItemLink.activeNavLink {
  background-color: #262626;
  color: #61D58E;
  width: 100%;
}

.navSocialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.navSocialList .navSocialListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F9F9F9;
  border-radius: 5px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  width: 40px;
}

.navSocialList .navSocialLink {
  color: #F9F9F9;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navSocialList .navSocialLink:active, .navSocialList .navSocialLink:focus, .navSocialList .navSocialLink:hover {
  color: #61D58E;
  outline: none;
}

.hamburgerContainer {
  z-index: 60;
}

.hamburgerToggler {
  display: none;
  height: 75px;
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  visibility: hidden;
  width: 75px;
}

.hamburger {
  display: none;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .fixedNavMenu {
    padding: 50px 20px;
    width: 25%;
  }
  .menuPageNumber,
  .navMenu,
  .navSocialList {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .fixedNavMenu {
    border-left: 4px solid #F9F9F9;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 40px 0;
    right: -100%;
    width: 37.5%;
    z-index: 50;
  }
  .showMenu {
    right: 0;
  }
  .hamburgerToggler {
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    visibility: visible;
    z-index: 80;
  }
  .hamburgerToggler:hover + .hamburger {
    background-color: #E0F5E8;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #61D58E;
    border-radius: 50%;
    bottom: 20px;
    -webkit-box-shadow: 0px 1px 3px #262626;
            box-shadow: 0px 1px 3px #262626;
    display: default;
    height: 75px;
    opacity: 1;
    position: fixed;
    right: 20px;
    visibility: visible;
    width: 75px;
    z-index: 60;
  }
  .middleLineContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    width: 40px;
  }
  .middleLine {
    background-color: #262626;
    height: 5px;
    position: relative;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    width: 27.5px;
  }
  .middleLine::before, .middleLine::after {
    background-color: #262626;
    bottom: auto;
    content: '';
    height: 5px;
    left: auto;
    position: absolute;
    right: auto;
    top: auto;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    width: 40px;
  }
  .middleLine::before {
    top: -15px;
  }
  .middleLine::after {
    bottom: -15px;
  }
  .navList {
    margin: 30px 0;
  }
  .menuPageNumber {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .navMenu {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .navSocialList {
    -ms-flex-preferred-size: 7.5%;
        flex-basis: 7.5%;
  }
  .whiteHamburger {
    background-color: #F9F9F9;
  }
  .whiteHamburger .middleLine {
    width: 0;
  }
  .whiteHamburger .middleLine::before {
    -webkit-transform: translate(-5px, 15px) rotate(45deg);
            transform: translate(-5px, 15px) rotate(45deg);
    width: 50px;
  }
  .whiteHamburger .middleLine::after {
    -webkit-transform: translate(-5px, -15px) rotate(-45deg);
            transform: translate(-5px, -15px) rotate(-45deg);
    width: 50px;
  }
}

.resumeBreak {
  background-color: #61D58E;
  border-radius: 50px;
  height: 100px;
  margin: 40px 0;
  position: relative;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 125%;
  z-index: 20;
}

.resumeBreakList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
}

.resumeBreakListItem {
  color: #262626;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin: 0 10px;
  padding: 10px 40px;
}

.resumeBreakListItem .resumeBreakLink {
  color: #262626;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.resumeBreakListItem .resumeBreakLink::before {
  background-color: #262626;
  bottom: -5px;
  content: '';
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
}

.resumeBreakListItem .resumeBreakLink:hover::before {
  background-color: #F9F9F9;
  width: 0;
}

.resumeBreakListItem .resumeBreakLink:active, .resumeBreakListItem .resumeBreakLink:focus {
  outline: none;
}

.resumeBreakListItem .resumeBreakLink:active::before, .resumeBreakListItem .resumeBreakLink:focus::before {
  background-color: #F9F9F9;
}

.symbolsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[2];
      grid-template-columns: repeat(2, 300px);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 40px 0 0;
}

.symbolContainer:hover > .iconHeading {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.iconContainer {
  background-color: #E0F5E8;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100px;
}

.iconContainer img {
  width: 100%;
}

.iconHeading {
  color: #262626;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.iconHeading::before {
  background-color: transparent;
  bottom: -5px;
  content: '';
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
}

.iconText {
  color: #262626;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

.aboutFloatingBox {
  background-color: #61D58E;
  float: right;
  margin-bottom: 20px;
  position: relative;
  right: -50px;
  width: 350px;
}

.floatingBoxList {
  padding: 0 50px;
}

.floatingBoxListItem {
  margin: 50px 0;
}

.floatingContactHeading {
  color: #262626;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0;
}

.floatingContactInfo {
  color: #262626;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.aboutSection .subSectionHeading::after {
  background-color: #61D58E;
  border-radius: 100px;
  content: '';
  height: calc(100% + 20px);
  left: -80px;
  position: absolute;
  top: -10px;
  width: 80%;
  z-index: -10;
}

@media (max-width: 1400px) {
  .symbolsContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .resumeBreak {
    left: -70px;
  }
}

@media (max-width: 650px) {
  .resumeBreak {
    height: auto;
    left: 0;
    width: 100%;
  }
  .resumeBreakList {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    row-gap: 10px;
    text-align: left;
  }
  .resumeBreakListItem {
    font-size: 1.6rem;
    margin: 0;
    padding: 10px 20px;
  }
  .symbolContainer:hover > .iconHeading {
    letter-spacing: 5px;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .aboutSection .subSectionHeading::after {
    min-width: 325px;
    width: 90%;
  }
}

@media (max-width: 550px) {
  .aboutFloatingBox {
    float: none;
    margin: 0 auto 40px;
    padding: 20px 0;
    position: static;
    width: 80%;
  }
  .floatingBoxList {
    margin: 0 auto;
    padding: 0 30px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media (max-width: 400px) {
  .symbolsContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .symbolContainer:nth-child(2n) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
  }
  .aboutFloatingBox {
    width: 90%;
  }
  .floatingBoxList {
    padding: 0 10px;
  }
}

.projects .sectionWrapper {
  overflow: hidden;
  width: 110%;
}

.projectsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(calc($projectsCellSize / 2)))[2];
      grid-template-columns: repeat(2, fit-content(calc($projectsCellSize / 2)));
  -ms-grid-rows: (27vw)[4];
      grid-template-rows: repeat(4, 27vw);
  max-width: 100%;
  position: relative;
  width: calc(2 * $projectsCellSize);
  z-index: 10;
}

.projectPreview {
  border: 2px solid #F9F9F9;
  overflow: hidden;
  position: relative;
}

.projectPreview:active, .projectPreview:focus {
  outline: none;
}

.positiveVibesBoard {
  background-image: url(../assets/positive-vibes-only.webp);
  background-position: top center;
  background-size: cover;
  border-right: 4px solid #F9F9F9;
  border-top: 4px solid #F9F9F9;
  border-radius: 20px 20px 0 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / span 1 / span 2;
}

.pokemonBlackjack {
  background-image: url(../assets/pokemon-blackjack.webp);
  background-position: center center;
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / span 2 / span 1;
}

.cratedigger {
  background-image: url(../assets/cratedigger.webp);
  background-position: center center;
  background-size: cover;
  border-right: 4px solid #F9F9F9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / span 1 / span 1;
}

.captured {
  background-image: url(../assets/captured.webp);
  background-position: center center;
  background-size: cover;
  border-right: 4px solid #F9F9F9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / span 1 / span 1;
}

.scattergories {
  background-image: url(../assets/scattergories.webp);
  background-position: top center;
  background-size: cover;
  border-bottom: 4px solid #F9F9F9;
  border-right: 4px solid #F9F9F9;
  border-radius: 0 0 20px 20px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / span 1 / span 2;
}

.noBgImage {
  background-image: none;
}

.projectPreview:hover > .projectDetails,
.projectPreview:focus > .projectDetails,
.projectFocused > .projectDetails {
  opacity: .9;
  left: 0;
}

.projectDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  color: #F9F9F9;
  height: 100%;
  left: -100%;
  opacity: 0;
  padding: 20px 30px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
  z-index: 10;
}

.projectDetails .projectTitle {
  color: #F9F9F9;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.projectDetails .projectDescription {
  color: #F9F9F9;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 1.2px;
  line-height: 1.4;
  margin-top: 20px;
}

.projectDetails .projectStack {
  color: #F9F9F9;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.4;
  margin-top: 20px;
}

.projectDetails .projectLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectDetails .projectLinksContainer .projectLink {
  color: #61D58E;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  border: 2px solid transparent;
  margin: 20px;
  padding: 5px;
  text-decoration: underline;
}

.projectDetails .projectLinksContainer .projectLink:active, .projectDetails .projectLinksContainer .projectLink:focus {
  border-color: #61D58E;
  color: #F9F9F9;
  outline: none;
}

@media (max-width: 1250px) {
  .projectDetails {
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .projectsContainer {
    grid-auto-rows: 300px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px;
        grid-template-rows: 300px;
    width: 120%;
    z-index: 10;
  }
  .projectsContainer * {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .projectPreview {
    border: 2px solid #F9F9F9;
    width: 100%;
  }
  .positiveVibesBoard {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .pokemonBlackjack {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    background-position: bottom -230px center;
  }
  .cratedigger {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .captured {
    background-position: center left;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
  .scattergories {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
  }
}

@media (max-width: 950px) {
  .projects .sectionWrapper {
    overflow: hidden;
    width: 90%;
  }
}

@media (max-width: 650px) {
  .projectsContainer {
    width: 100%;
  }
  .pokemonBlackjack {
    background-position: bottom -300px center;
  }
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #F9F9F9;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

.skillContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #262626;
  border-radius: 10px;
  height: 150px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 115px;
}

.skillIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-size: 7rem;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  width: 80px;
}

.fas {
  font-size: 6rem;
}

.skillTitle {
  color: #262626;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 1px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.skillContainer:hover .skillIconContainer {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.skillContainer:hover i {
  text-shadow: 1px 1px 2px #262626;
}

.skillHTML:hover {
  color: #e54d26;
}

.skillCSS:hover {
  color: #3d8fc6;
}

.skillJavaScript:hover {
  color: #f0db4f;
}

.skillReact:hover {
  color: #61dafb;
}

.skillFirebase:hover {
  color: #f58220;
}

.skillSass:hover {
  color: #cc6699;
}

.skillJQuery:hover {
  color: #0769ad;
}

.skillResponsive:hover {
  color: #5bc452;
}

.skillAccessible:hover {
  color: #881cf4;
}

.skillRest:hover {
  color: #f5dc4e;
}

.skillGit:hover {
  color: #f34f29;
}

.skillGitHub:hover {
  color: #0366d6;
}

.experience .sectionTitle {
  color: #F9F9F9;
}

.roleDetails {
  border-bottom: 1px solid #F9F9F9;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.roleDetails:last-child {
  border-bottom: none;
}

.experienceTitle {
  color: #61D58E;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.experienceInfo {
  color: #E0F5E8;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  font-style: italic;
  margin-bottom: 20px;
}

.experiencePoints {
  padding: 0 20px;
}

.experienceItem {
  color: #F9F9F9;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  list-style-type: square;
  margin: 20px 0;
}

.blogPostsContainer {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.blogIntroText {
  color: #262626;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

.blogPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F9F9;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px #262626;
          box-shadow: 1px 1px 2px #262626;
  height: 250px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%;
}

.blogPostContainer:active,
.blogPostContainer:focus,
.blogPostContainer:hover {
  -webkit-box-shadow: 2px 2px 4px #262626;
          box-shadow: 2px 2px 4px #262626;
  outline: none;
}

.blogPostContainer:active > .blogPostTitle,
.blogPostContainer:focus > .blogPostTitle {
  font-weight: bold;
}

.blogImageContainer {
  border-radius: 10px 10px 0 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
  width: 100%;
}

.blogImageContainer img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  width: 100%;
}

.blogPostTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: default;
  border-radius: 0 0 10px 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 20px;
  text-align: center;
}

.moreToCome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #61D58E;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: default;
  background-color: #262626;
  border-radius: 10px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .blogPostsContainer {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (minmax(180px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
  .blogPostContainer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    max-width: 230px;
  }
}

@media (max-width: 420px) {
  .blogPostsContainer {
    -ms-grid-columns: 250px;
        grid-template-columns: 250px;
    margin: 0 auto;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .blogPostContainer {
    margin: 0 auto;
  }
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  border-bottom: 2px solid #F9F9F9;
  height: 100px;
  padding: 0 20px;
  width: 100%;
}

.contactDetailContainer {
  color: #F9F9F9;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.contactMethodContainer {
  color: #61D58E;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: right;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 0;
  row-gap: 10px;
  width: 100%;
}

.nameField,
.emailField,
.messageField,
.formSubmitButton {
  color: #262626;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: default;
  background-color: #F9F9F9;
  border: none;
  border-bottom: 1px solid #262626;
  border-radius: 0;
  line-height: 1.6;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.messageField {
  border-radius: 0;
  resize: none;
}

.formSubmitButton {
  background-color: #61D58E;
  border: 1px solid #61D58E;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.formSubmitButton:active,
.formSubmitButton:focus,
.formSubmitButton:hover {
  border-color: #262626;
  outline: none;
}

@media (max-width: 500px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactDetailContainer {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    font-size: 1.6rem;
  }
  .contactMethodContainer {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}

.credits {
  margin-bottom: 20px;
}

.creditsTitle {
  color: #262626;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

.credit {
  color: #262626;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.creditLink {
  color: #262626;
  text-decoration: underline;
}
